<%- include('../partials/header') -%>
    <div class="container-form">
        <%- include('../messages') -%>
            <!-- <div class="social-login">
                                <input type="button" value="sign up with facebook">
                                <input type="button" value="sign up with google">
                            </div>
                            <div class="line">
                                <div class="line-1"></div>
                                <h3>Or</h3>
                                <div class="line-2"></div>
                            </div> -->
            <h2 class="head-center">Log in</h2>
            <form action="/auth/login" method="post">
                <!-- <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Type your username" required> -->
                <label for="email">Username or Email</label>
                <input type="text" name="email" id="" placeholder="Username or Email Address" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="6+ characters" required>
                <button type="submit" class="btn btn-primary">Continue</button>
            </form>
            <div class="heading">
                <p>Not Registered? <a href="/auth/signup">Register</a></p>
                <p>Forgot password?</p>
                <a href="/auth/reset">Reset Password.</a>
            </div>
    </div>
    <%- include('../partials/footer') -%>