<%- include('../partials/header') -%>
    <%- include('../partials/head') -%>
        <main class="main-body">
            <%- include('../partials/sidebar') -%>
                <!-- Sidebar -->
                <div class="videos">
                    <h1>Recommended</h1>
                    <div class="videos__container">
                        <!-- Single Video Cards -->
                        <div class="video">
                            <div class="video__thumbnail">
                                <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                            </div>
                            <div class="video__details">
                                <div class="author">
                                    <img src="/images/profile.jpeg" alt="">
                                </div>
                                <div class="video__title">
                                    <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                                    <a href="">WaaW Foundation</a>
                                    <span>10M Views ● 3 Months Ago</span>
                                </div>
                            </div>

                        </div>
                        <div class="video">
                            <div class="video__thumbnail">
                                <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                            </div>
                            <div class="video__details">
                                <div class="author">
                                    <img src="/images/profile.jpeg" alt="">
                                </div>
                                <div class="video__title">
                                    <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                                    <a href="">WaaW Foundation</a>
                                    <span>10M Views ● 3 Months Ago</span>
                                </div>
                            </div>

                        </div>
                        <div class="video">
                            <div class="video__thumbnail">
                                <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                            </div>
                            <div class="video__details">
                                <div class="author">
                                    <img src="/images/profile.jpeg" alt="">
                                </div>
                                <div class="video__title">
                                    <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                                    <a href="">WaaW Foundation</a>
                                    <span>10M Views ● 3 Months Ago</span>
                                </div>
                            </div>

                        </div>
                        <div class="video">
                            <div class="video__thumbnail">
                                <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                            </div>
                            <div class="video__details">
                                <div class="author">
                                    <img src="/images/profile.jpeg" alt="">
                                </div>
                                <div class="video__title">
                                    <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                                    <a href="">WaaW Foundation</a>
                                    <span>10M Views ● 3 Months Ago</span>
                                </div>
                            </div>

                        </div>
                        <div class="video">
                            <div class="video__thumbnail">
                                <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                            </div>
                            <div class="video__details">
                                <div class="author">
                                    <img src="/images/profile.jpeg" alt="">
                                </div>
                                <div class="video__title">
                                    <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                                    <a href="">WaaW Foundation</a>
                                    <span>10M Views ● 3 Months Ago</span>
                                </div>
                            </div>

                        </div>
                        <div class="video">
                            <div class="video__thumbnail">
                                <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                            </div>
                            <div class="video__details">
                                <div class="author">
                                    <img src="/images/profile.jpeg" alt="">
                                </div>
                                <div class="video__title">
                                    <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                                    <a href="">WaaW Foundation</a>
                                    <span>10M Views ● 3 Months Ago</span>
                                </div>
                            </div>

                        </div>
                        <div class="video">
                            <div class="video__thumbnail">
                                <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                            </div>
                            <div class="video__details">
                                <div class="author">
                                    <img src="/images/profile.jpeg" alt="">
                                </div>
                                <div class="video__title">
                                    <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                                    <a href="">WaaW Foundation</a>
                                    <span>10M Views ● 3 Months Ago</span>
                                </div>
                            </div>

                        </div>
                        <div class="video">
                            <div class="video__thumbnail">
                                <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                            </div>
                            <div class="video__details">
                                <div class="author">
                                    <img src="/images/profile.jpeg" alt="">
                                </div>
                                <div class="video__title">
                                    <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                                    <a href="">WaaW Foundation</a>
                                    <span>10M Views ● 3 Months Ago</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


        </main>
        <%- include('../partials/footer') -%>