<!-- Header Area -->
<div class="header">
    <div class="header__left">
        <i id="show" class="material-icons">menu</i>
        <img src="/images/logo.png" alt="Logo">
    </div>
    <div class="header__search">
        <form action="">
            <input type="text" placeholder="Search">
            <button class="header__button"><span class="material-icons search">search</span></button>
        </form>
    </div>
    <div class="header__other">
        <span class="material-icons sm">search</span>
        <!-- <span class="material-icons mic">mic</span>
      <span class="material-icons video">videocam</span> -->
        <span class="material-icons apps">apps</span>
        <span class="material-icons account show">account_circle</span>
    </div>
</div>
<!-- End of Header -->