<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAAW TUBE</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <!-- Header Area -->
    <div class="header">
        <div class="header__left">
            <i id="show" class="material-icons">menu</i>
            <img src="/images/logo.png" alt="Logo">
        </div>
        <div class="header__search">
            <form action="">
                <input type="text" placeholder="Search">
                <button class="header__button"><span class="material-icons search">search</span></button>
            </form>
        </div>
        <div class="header__other">
            <span class="material-icons sm">search</span>
            <!-- <span class="material-icons mic">mic</span>
            <span class="material-icons video">videocam</span> -->
            <span class="material-icons apps">apps</span>
            <span class="material-icons account show">account_circle</span>
        </div>
    </div>
    <!-- End of Header -->
    <main class="main-body">
        <!-- Sidebar Area and Categories -->
        <div class="sidebar">
            <div class="sidebar__categories">
                <div class="sidebar__category">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons">local_fire_department</i>
                    <span>Trending</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons">explore</i>
                    <span>Explore</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons">history</i>
                    <span>History</span>
                </div>
                <hr>
                <div class="sidebar__category">
                    <i class="material-icons">subscriptions</i>
                    <span>Subscriptions</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons">library_add_check</i>
                    <span>Library</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons">play_arrow</i>
                    <span>Your Videos</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons">watch_later</i>
                    <span>Watch Later</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons">thumb_up</i>
                    <span>Liked Videos</span>
                </div>
                <hr>
                <div class="sidebar__category">
                    <i class="material-icons">logout</i>
                    <span>Sign Out</span>
                </div>
            </div>

        </div>
        <!-- End of Sidebar and Categories -->
        <div class="videos">
            <h1>Recommended</h1>
            <div class="videos__container">
                <!-- Single Video Cards -->
                <div class="video">
                    <div class="video__thumbnail">
                        <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="/images/profile.jpeg" alt="">
                        </div>
                        <div class="video__title">
                            <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                            <a href="">WaaW Foundation</a>
                            <span>10M Views ● 3 Months Ago</span>
                        </div>
                    </div>

                </div>
                <div class="video">
                    <div class="video__thumbnail">
                        <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="/images/profile.jpeg" alt="">
                        </div>
                        <div class="video__title">
                            <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                            <a href="">WaaW Foundation</a>
                            <span>10M Views ● 3 Months Ago</span>
                        </div>
                    </div>

                </div>
                <div class="video">
                    <div class="video__thumbnail">
                        <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="/images/profile.jpeg" alt="">
                        </div>
                        <div class="video__title">
                            <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                            <a href="">WaaW Foundation</a>
                            <span>10M Views ● 3 Months Ago</span>
                        </div>
                    </div>

                </div>
                <div class="video">
                    <div class="video__thumbnail">
                        <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="/images/profile.jpeg" alt="">
                        </div>
                        <div class="video__title">
                            <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                            <a href="">WaaW Foundation</a>
                            <span>10M Views ● 3 Months Ago</span>
                        </div>
                    </div>

                </div>
                <div class="video">
                    <div class="video__thumbnail">
                        <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="/images/profile.jpeg" alt="">
                        </div>
                        <div class="video__title">
                            <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                            <a href="">WaaW Foundation</a>
                            <span>10M Views ● 3 Months Ago</span>
                        </div>
                    </div>

                </div>
                <div class="video">
                    <div class="video__thumbnail">
                        <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="/images/profile.jpeg" alt="">
                        </div>
                        <div class="video__title">
                            <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                            <a href="">WaaW Foundation</a>
                            <span>10M Views ● 3 Months Ago</span>
                        </div>
                    </div>

                </div>
                <div class="video">
                    <div class="video__thumbnail">
                        <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="/images/profile.jpeg" alt="">
                        </div>
                        <div class="video__title">
                            <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                            <a href="">WaaW Foundation</a>
                            <span>10M Views ● 3 Months Ago</span>
                        </div>
                    </div>

                </div>
                <div class="video">
                    <div class="video__thumbnail">
                        <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="/images/profile.jpeg" alt="">
                        </div>
                        <div class="video__title">
                            <h3>Top 5 Programming Languages to Learn in 2021 | Best Programming languages</h3>
                            <a href="">WaaW Foundation</a>
                            <span>10M Views ● 3 Months Ago</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </main>

    <script src="/js/script.js">
    </script>
</body>

</html>